<div class="container">
  <section ng-controller="KindnessController">

    <form class="kindness-form" ng-submit="createKindness()">
      <div class="row">
        <div class="six columns">
          <input class="u-full-width" type="text" ng-model="newKindness.name" placeholder="Your Name">
        </div>
        <div class="six columns">
          <input class="date u-full-width" type="date" ng-model="newKindness.date" placeholder="Date">
        </div>
      </div>
      <div class="row">
        <div class="twelve columns">
          <textarea class="u-full-width" type="text" ng-model="newKindness.kindness" placeholder="Act of Kindness"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="twelve columns">
          <input class="u-full-width" type="text" ng-model="newKindness.location" placeholder="Location">
        </div>
      </div>
      <div class="row">
        <div class="twelve columns">
          <input class="u-full-width" type="submit">
        </div>
      </div>
      <!-- <input type="text" ng-model="newKindness.lat" placeholder="Latitude">
      <input type="text" ng-model="newKindness.lng" placeholder="Longitude"> -->
    </form>

    <div class="kindness-display" ng-repeat="kindness in kindness">
      <h3>{{kindness.name}}</h3>
      <h4>{{kindness.kindness}}</h4>
      <h5>on {{kindness.date}}</h5>
      <h5>at {{kindness.location}}</h5>
      <!-- <h5>{{kindness.lat}}</h5>
      <h5>{{kindness.lng}}</h5> -->
    </div>
    
  </section>
</div>
