<div class="share-map-container row" ng-controller="KindnessController">
  <div class="share-your-story five columns">
    <a class="kindness-story" href="#">SHARE YOUR RANDOM ACT OF KINDNESS</a>
    <ng-map zoom="12" center="New York, NY">
      <marker id="kindness-marker-{{k.id}}" ng-repeat="k in kindness" position="{{k.location}}" on-click="showKindnessInfo(k)"></marker>
      <info-window id="kindness-window">
        <div ng-non-bindable="">
          <div id="bodyContent">
            <h4>{{currentKindness.name}}</h4>
            <h5>{{currentKindness.kindness}}</h5>
            <h5>{{currentKindness.location}}</h5>
          </div>
        </div>
      </info-window>
    </ng-map>
    <div class="kindness-form-container">
      <!-- <h3 ng-show="added">Kindness Added! Thanks for being kind.</h3> -->
      <!-- <form ng-hide="added" class="kindness-form" ng-submit="createKindness()"> -->
      <form class="kindness-form" ng-submit="createKindness()">
        <div class="row">
          <div class="six columns">
            <input class="u-full-width" type="text" ng-model="newKindness.name" placeholder="Your Name">
          </div>
          <div class="six columns">
            <input class="date u-full-width" type="date" ng-model="newKindness.date" placeholder="Date">
          </div>
        </div>
        <div class="row">
          <div class="twelve columns">
            <textarea class="u-full-width" type="text" ng-model="newKindness.kindness" placeholder="Act of Kindness"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="twelve columns">
            <input class="u-full-width" type="text" ng-model="newKindness.location" placeholder="Location">
          </div>
        </div>
        <div class="row">
          <div class="twelve columns">
            <input class="u-full-width submit-kindness" type="submit">
          </div>
        </div>
        <!-- <input type="text" ng-model="newKindness.lat" placeholder="Latitude">
        <input type="text" ng-model="newKindness.lng" placeholder="Longitude"> -->
      </form>
    </div>
  </div>

  <div class="seven columns">
    <section class="kindness-container">
      <div class="kindness-story-container">
        <div class="kindness-content" ng-repeat="k in kindness | orderBy: 'created_at'">
          <ul id="kindness-list">
            <li>
              <h3>{{k.name}}</h3>
              <h4>{{k.kindness}}</h4>
              <h5>on {{k.date | date: MM/dd/yyyy}}</h5>
              <h5>at {{k.location}}</h5>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</div>
