/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @media (min-width: 400px) {
   ng-map {
     max-width: 100%;
   }

   svg {
     max-height: 300px;
   }

   .kindness-form {
     max-width: 100%;
   }

   .kindness-content {
     max-width: 300px;
   }
 }

 body {
   background-color: tomato;
   font-family: 'Yantramanav', sans-serif;
   font-weight: 100;
   text-align: center;
 }

 ng-map {
   width: 450px;
   height: 500px;
   margin: 0 auto;
   margin-top: 20px;
   margin-bottom: 20px;
 }

 svg {
   height: 250px;
 }

 .kindness-story {
   font-family: 'Oswald', sans-serif;
   font-size: 28px;
   text-decoration: none;
   text-shadow: 2px 2px orangered;
   color: snow;
   font-weight: bold;
 }

 a:hover {
   color: lightgrey;
 }

.kindOrandom {
  font-family: 'Pacifico', cursive;
  font-size: 200px;
  color: floralwhite;
  text-shadow: 2px 2px orangered;
  margin: 0;
  text-align: center;
}

.kindness-form {
  width: 450px;
  margin: 0 auto;
}

.kindness-form .date {
  height: 38px;
  padding: 6px 10px;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 0em 0em 1.5em 1.5em;
  font: 11px BlinkMacSystemFont;
}

.kindness-story-container {
  margin: 65px 0px 0px 0px;
  height: 750px;
  overflow: scroll;
  width: 800px;
  padding: 10px;
}

.kindness-content {
  border: 1px solid black;
  width: 200px;
  height: auto;
  background-color: #DAFFEE;
  border-radius: 1em;
  padding: 0px 20px;
  margin: 0 auto;
  margin-top: 20px;
  margin-left: 20px;
  display: inline-flex;
}

#kindness-list {
  list-style-type: none;
  margin: 0;
}

h3 {
  font-weight: bold;
  font-size: 24px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

.columns {
  margin: 0;
}
