/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @media (min-width: 400px) {
   #map {
     max-width: 100%;
   }

   svg {
     max-height: 300px;
   }

   .kindness-form {
     max-width: 100%;
   }

   .kindness-display {
     max-width: 300px;
   }
 }

 body {
   background-color: tomato;
   font-family: 'Yantramanav', sans-serif;
   font-weight: 100;
   text-align: center;
 }

 ng-map {
   width: 500px;
   height: 500px;
   margin: 0 auto;
   margin-top: 20px;
   margin-bottom: 20px;
 }

 svg {
   height: 500px;
 }

 .share-your-story {
   font-family: 'Oswald', sans-serif;
   text-decoration: none;
   color: snow;
 }

.kindOrandom {
  font-family: 'Pacifico', cursive;
  font-size: 200px;
  color: floralwhite;
  text-shadow: 2px 2px orangered;
  margin: 0;
  text-align: center;
}

.kindness-form {
  width: 500px;
  margin: 0 auto;
}

.kindness-display {
  border: 1px solid black;
  width: 300px;
  background-color: #DAFFEE;
  border-radius: 1em;
  padding: 0px 20px;
  margin: 0 auto;
  margin-top: 20px;
}

.date {
  height: 38px;
  padding: 6px 10px;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 0em 0em 1.5em 0em;
  font: 11px BlinkMacSystemFont;
}

h3 {
  font-weight: bold;
}
